* {
    margin: 0 0;
    padding: 0;
    background-color: #F6F8F9;
}


.box {
    height: 90px;
    width: auto;
    background-color: #FFFFFF;
} 

.tetto {
    height: 50px;
    width: auto;
    background-color: #FFFFFF;
    margin: 10px 100px;
    
}

.casa {
    height: 500px;
    width: auto;
    background-color: #FFFFFF;
    margin: 10px 100px;
}
