body {
    background-color: #F6F8F9;
    margin: 0 0;
    padding: 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    height: 59px;
    width: auto;
    background-color: white;
    margin: 0px 0px;
    padding: 0px;
}

.container-1 {
    height: 50px;
    width: auto;
    background-color: white;
    margin-top: 26px;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 1px
    border-radius: 5px 5px 0px 0px; 
}
    

.container-2 {
        height: 620px;
        width: auto;
        background-color: white;
    margin: 3px 14%;

}

h2 {
    margin: 0 0;
}


.titolo {
    font-size: 29px;
    font-weight: bold;
    vertical-align: sub;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box img{
    vertical-align: middle;
}

.button1 {
    margin-top: 20px;
    margin-left: 50px;
    height: 26px;
    width: 69px;
    border-radius: 10%;
    border-width: 0px;
    background-color: #62ABEA;
    color: white;
}


.button2 {
    margin-top: 20px;
    margin-left: 5px;
    height: 26px;
    width: 85px;
    border-radius: 10%;
    border-width: 1px;
    border-color: #C6CBCF;
    background-color: white;
    color: #C6CBCF;
}

.button1, .button2 {
    font-size: 11px;
}

.freccia::after {
    content: '\25BE';
    font-size: 22px;
    margin: 7px;
}

.ok::after {
    content: '\2713';
    font-size: 11px;
    font-weight: bold;
    color: #7CBEAA;
    margin: 7px;
}

.ok::after {
    display: inline-block;
    background-color: #7cbeaa00;
    width: 11px;
    border-style: solid;
    border-color: #7CBEAA;
    border-radius: 50%;
    border-width: 0.8px;
    padding-left: 1px;
}

.no::after {
    content: '\2715';
    font-size: 11px;
    font-weight: bold;
    color: #D85041;
    margin: 7px;

}

.no::after {
    display: inline-block;
    background-color: #7cbeaa00;
    width: 11px;
    border-style: solid;
    border-color: #D85041;
    border-radius: 50%;
    border-width: 0.8px;
    padding-left: 2px;
}

.uno {
    margin-left: 50px;
}

h2 {
    padding-top: 20px;
}

.editorial {
    display: inline-block;
    height: 23px;
    width: 56px;
    background-color: #62A9E4;
    border-radius: 10%;
    border-width: 0px;
    vertical-align: middle;
}

.editorial {
    font-size: 10px;
    font-display: auto;
    color: white;
    
}

.quno {
    display: inline-block;
    height: 23px;
    width: 56px;
    background-color: #9674DD;
    border-radius: 10%;
    border-width: 0px;
    vertical-align: middle;
}

.quno {
    font-size: 10px;
    font-display: auto;
    color: white;
}

.recruiting {
    display: inline-block;
    height: 23px;
    width: 56px;
    background-color: #7BBEAA;
    border-radius: 10%;
    border-width: 0px;
    vertical-align: middle;
}

.recruiting {
    font-size: 10px;
    font-display: auto;
    color: white;
}

.mobile {
    display: inline-block;
    height: 23px;
    width: 56px;
    background-color: #E6A24B;
    border-radius: 10%;
    border-width: 0px;
    vertical-align: middle;
}

.mobile {
    font-size: 10px;
    font-display: auto;
    color: white;
}

.website {
    display: inline-block;
    height: 23px;
    width: 56px;
    background-color: #C96A9F;
    border-radius: 10%;
    border-width: 0px;
    vertical-align: middle;
}

.website {
    font-size: 10px;
    font-display: auto;
    color: white;
}

.sales {
    display: inline-block;
    height: 23px;
    width: 56px;
    background-color: #B5C849;
    border-radius: 10%;
    border-width: 0px;
    vertical-align: middle;
}

.sales {
    font-size: 10px;
    font-display: auto;
    color: white;
}